In [2]:
import pandas as pd
import csv

### Обработка auto.csv для корректного чтения

In [79]:
def clean_csv_line(line):
    line = line.strip()
    if line.startswith('"') and line.endswith('"'):
        line = line[1:-1]
    line = line.replace('""', '"')
    return line

with open('auto.csv', 'r') as f:
    lines = [clean_csv_line(line) for line in f]

with open('auto_fixed.csv', 'w', encoding='utf-8') as file:
    file.write('\n'.join(lines))

### Исследование датасета

In [3]:
df = pd.read_csv("auto_fixed.csv", index_col=0)

In [3]:
df

,auto,gasoline_consumption,price,date,person_name,phone,discount,brand_origin
id,,,,,,,,
1,"Lada Vesta, grey",7.3,11243.4400,2019-12-15,Michael Wu,+1-587-114-0889x3149,20,Russia
2,"BMW F80, red",8.3,63761.7500,2019-01-29,Carla Smith,001-818-501-7528x0438,0,Germany
3,"Hyundai Elantra, red",5.0,42584.0625,2021-08-29,Daniel Sanders,(925)028-0929x847,0,South Korea
4,"Lada Samara, pink",7.8,9902.4000,2017-02-08,Summer Diaz,325.358.2773,0,Russia
5,"Audi S3, grey",6.9,18307.8000,2020-05-12,Matthew Anderson,+1-993-672-9259,0,Germany
...,...,...,...,...,...,...,...,...
996,"BMW F30, purple",2.0,50416.2960,2018-07-30,Melissa Bowman,+1-712-457-5802x75613,2,Germany
997,"BMW F30, yellow",2.0,47590.4500,2017-02-23,Melissa Sanders,5230792435,0,Germany
998,"Lada Samara, green",7.8,13722.7440,2018-06-24,Melissa Bond,745-013-8470x145,2,Russia
999,"Tesla Model Y, yellow",NaN,46267.6050,2015-10-31,Nicole Smith,791.276.4541x02684,0,USA
1000,"Hyundai Avante, grey",5.5,29905.1280,2015-03-04,Charles Graves,001-088-803-3579x277,12,South Korea

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, 1 to 1000
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   auto                  1000 non-null   object
 1   gasoline_consumption  778 non-null    float64
 2   price                 1000 non-null   float64
 3   date                  1000 non-null   object
 4   person_name           1000 non-null   object
 5   phone                 1000 non-null   object
 6   discount              1000 non-null   int64
 7   brand_origin          947 non-null    object
dtypes: float64(2), int64(1), object(5)
memory usage: 70.3+ KB

In [29]:
df['auto'].value_counts()

auto
Audi A3, yellow         14
BMW F80, red            13
Audi S3, purple         13
Hyundai Elantra, red    12
Audi A3, green          12
                        ..
Tesla Model S, pink      2
Audi S3, red             2
BMW F30, red             1
Hyundai Sonata, blue     1
BMW F30, blue            1
Name: count, Length: 152, dtype: int64

In [30]:
df[df['auto'] == "Audi A3, yellow"]

,auto,gasoline_consumption,price,date,person_name,phone,discount,brand_origin
id,,,,,,,,
53,"Audi A3, yellow",5.7,30885.205000,2019-10-18,Michael Wise,311-672-1832x36644,0,Germany
161,"Audi A3, yellow",5.7,29768.497500,2022-09-03,Lori Miller,653.718.7726x027,0,Germany
215,"Audi A3, yellow",5.7,30510.765000,2020-03-03,Diane Griffin,005.331.4694x1728,0,Germany
343,"Audi A3, yellow",5.7,20573.807625,2022-12-26,Stephanie Henry,001-649-961-7278x752,19,Germany
407,"Audi A3, yellow",5.7,28791.630000,2015-08-29,Matthew Griffin,(560)066-7267x87395,0,Germany
470,"Audi A3, yellow",5.7,40248.390000,2019-10-19,Brittany Perez,632-657-8902,0,Germany
476,"Audi A3, yellow",5.7,25080.350000,2017-02-24,Cole Coleman,001-082-379-0078,0,Germany
586,"Audi A3, yellow",5.7,22524.705000,2020-04-22,Robert Owen,+1-646-408-2743x96329,0,Germany
631,"Audi A3, yellow",5.7,28848.555000,2015-10-18,Megan Anderson,295.963.0833x456,0,Germany
684,"Audi A3, yellow",5.7,28915.830000,2020-02-03,Zachary Long,(489)903-7691,0,Germany
718,"Audi A3, yellow",5.7,34260.397500,2021-03-07,Ronald Baxter,882-608-0264,0,Germany
721,"Audi A3, yellow",5.7,23121.900000,2017-03-11,Rhonda Wilson,639.046.1103x3755,0,Germany
776,"Audi A3, yellow",5.7,22465.710000,2015-11-05,Thomas Hardy,+1-755-108-3487x1108,0,Germany
971,"Audi A3, yellow",5.7,24366.142500,2022-03-15,Jason Martinez,026-894-8877,0,Germany

In [31]:
df['person_name'].value_counts()

person_name
Michael Wu           2
Stephanie Johnson    2
Lisa Bailey          2
Nathan Schmidt       2
Jason Martinez       2
                    ..
Richard Williams     1
Renee Farrell        1
Vanessa Vasquez      1
Alyssa Holt          1
Dustin Martin        1
Name: count, Length: 894, dtype: int64

In [37]:
df[df['person_name'] == "Michael Wu"]

,auto,gasoline_consumption,price,date,person_name,phone,discount,brand_origin
id,,,,,,,,
1,"Lada Vesta, grey",7.3,11243.44,2019-12-15,Michael Wu,+1-587-114-0889x3149,20,Russia
895,"BMW F80, purple",8.3,43945.20,2018-02-22,Michael Wu,+1-587-114-0889x3149,0,Germany

In [35]:
df['discount'].value_counts()

discount
0     838
20     11
7      11
6      11
9      10
5      10
15      9
3       9
13      9
1       9
14      9
19      8
18      8
4       8
17      8
10      7
16      6
2       6
12      5
8       4
11      4
Name: count, dtype: int64

In [39]:
df['gasoline_consumption'].value_counts()

gasoline_consumption
5.7     73
8.3     70
6.9     62
7.3     58
12.0    53
6.7     53
5.0     51
7.8     51
3.1     50
4.9     49
7.5     45
5.5     43
2.0     41
9.0     41
6.0     38
Name: count, dtype: int64

In [82]:
df['price'].max()

92512.095

In [55]:
df['person_name'].apply(lambda x: len(x)).max()

26

In [56]:
df['phone'].apply(lambda x: len(x)).max()

22

In [4]:
df['auto'].apply(lambda x: len(x)).max()

23

In [58]:
df[df['brand_origin'].isna()]

,auto,gasoline_consumption,price,date,person_name,phone,discount,brand_origin
id,,,,,,,,
16,"Porsche 911, green",12.0,50619.6000,2020-10-09,Anthony Brown,483.824.9640,0,NaN
20,"Porsche 911, blue",12.0,66751.6500,2021-09-17,Wayne Miller,0787813258,0,NaN
49,"Porsche 911, yellow",12.0,63965.8750,2016-02-08,Thomas Parker,802-904-6081,0,NaN
64,"Porsche 911, pink",12.0,29705.4000,2015-10-17,Jamie Smith,0377351461,0,NaN
143,"Porsche 911, pink",12.0,33583.1400,2020-01-16,Tara Davis,005.580.5827,0,NaN
182,"Porsche 911, green",12.0,72816.9000,2019-06-15,Debra Mcmahon,+1-290-976-5892x58091,0,NaN
200,"Porsche 911, blue",12.0,73944.0000,2018-10-31,Thomas West,001-615-442-1692x4833,0,NaN
222,"Porsche 911, purple",12.0,58553.1000,2020-02-29,Benjamin Ballard,227.646.1834x05871,0,NaN
255,"Porsche 911, blue",12.0,52936.2000,2020-02-12,Richard Sharp,420.989.3490x601,0,NaN
256,"Porsche 911, grey",12.0,66965.4720,2021-10-21,Amanda Hatfield,(795)189-6665x4226,4,NaN
269,"Porsche 911, green",12.0,67813.0425,2021-09-09,Alicia Mejia,0903720006,7,NaN
274,"Porsche 911, purple",12.0,67317.6000,2018-11-13,Paul Townsend,(117)468-7280,0,NaN
284,"Porsche 911, red",12.0,64037.2500,2015-10-14,Melanie Neal,525.065.6744,0,NaN
337,"Porsche 911, purple",12.0,61963.6500,2021-05-18,Jessica Jacobs,730.996.7208x069,0,NaN
340,"Porsche 911, orange",12.0,52180.4400,2017-06-18,Brian Brown,(050)559-0230x4412,17,NaN
351,"Porsche 911, yellow",12.0,92512.0950,2019-09-14,Adam Nicholson,(422)564-8666x2419,0,NaN
353,"Porsche 911, purple",12.0,58753.4800,2017-10-21,Katie Clements,9038775262,14,NaN
369,"Porsche 911, pink",12.0,36197.2800,2016-06-23,Ryan Henderson,012.766.0586x939,0,NaN
370,"Porsche 911, orange",12.0,71855.7000,2021-03-02,Richard Williams,3131137386,0,NaN
397,"Porsche 911, grey",12.0,75597.6000,2019-11-23,Anthony Richardson,455-329-9442x59414,0,NaN
419,"Porsche 911, yellow",12.0,78290.1600,2018-04-09,Jason Hawkins,2970540924,0,NaN
447,"Porsche 911, pink",12.0,37597.1400,2022-02-23,Robert Sanchez,(161)638-5551x804,0,NaN
449,"Porsche 911, red",12.0,69466.2500,2017-08-01,Katrina Brown,277-848-7289x3839,0,NaN
461,"Porsche 911, purple",12.0,57735.0000,2020-01-07,Lisa Stewart,001-280-784-3575x7002,0,NaN
471,"Porsche 911, pink",12.0,27263.1420,2015-07-13,Kristin Carter,001-894-137-0332x473,19,NaN
472,"Porsche 911, blue",12.0,50314.7645,2016-05-14,Todd Ruiz,9399727477,9,NaN
485,"Porsche 911, yellow",12.0,85898.1000,2018-09-21,Monica Medina,(787)237-7387x125,0,NaN
491,"Porsche 911, yellow",12.0,60838.3350,2020-10-16,Kevin Jones,(849)497-5061x4739,0,NaN
513,"Porsche 911, purple",12.0,77127.7000,2019-07-22,Caitlin Cook,001-067-272-6613x007,0,NaN
525,"Porsche 911, yellow",12.0,89224.5900,2019-01-31,Ralph Smith,(889)179-6676,0,NaN
559,"Porsche 911, yellow",12.0,79493.5200,2018-05-02,Shane Hawkins,472-372-0131,0,NaN
567,"Porsche 911, yellow",12.0,75181.3650,2021-06-24,Pamela Glass,(817)298-1518x194,0,NaN
572,"Porsche 911, grey",12.0,44602.4880,2015-10-14,Sabrina Heath,001-422-406-8886,16,NaN
595,"Porsche 911, yellow",12.0,59152.3200,2015-03-30,Robin Wallace,5243117794,0,NaN
600,"Porsche 911, red",12.0,73170.5625,2022-08-24,Samantha Silva,299.673.6245x22006,0,NaN
619,"Porsche 911, pink",12.0,36264.7800,2015-10-07,Timothy Parker,658-127-2895x1590,0,NaN
624,"Porsche 911, green",12.0,72691.2000,2018-07-01,Terry Fry,984.668.7124,0,NaN
630,"Porsche 911, grey",12.0,68387.5500,2022-01-26,Katherine Robinson,+1-936-891-1910x145,0,NaN
640,"Porsche 911, orange",12.0,52116.3000,2020-04-25,Jaclyn Reynolds,402.680.4529x13302,0,NaN
650,"Porsche 911, pink",12.0,34081.5600,2015-11-20,Brian Simpson,960.277.8678,0,NaN
680,"Porsche 911, pink",12.0,40985.2548,2022-02-16,Ruth Esparza,650-663-5928x56124,3,NaN
703,"Porsche 911, red",12.0,76334.8750,2016-01-06,David Kelley,001-045-178-2118x68729,0,NaN
729,"Porsche 911, grey",12.0,65782.7500,2016-02-19,Steven Owens,551-662-6377,0,NaN
768,"Porsche 911, orange",12.0,78031.2000,2019-04-10,Nicole Floyd,+1-175-623-2150x82440,0,NaN
771,"Porsche 911, orange",12.0,61757.1000,2015-04-15,Paula Williams,115.396.2818x5301,0,NaN
830,"Porsche 911, yellow",12.0,66527.7300,2015-10-08,Jose Bradley,917.362.7663x8417,0,NaN
836,"Porsche 911, orange",12.0,61298.0000,2017-01-23,Stacey Hall,+1-031-516-3809x79062,0,NaN
847,"Porsche 911, yellow",12.0,67792.6725,2022-03-17,Laura Gonzales,+1-157-773-3597,0,NaN
886,"Porsche 911, orange",12.0,48248.7300,2020-02-19,Mrs. Joyce Fisher DDS,(606)304-4298x231,17,NaN
892,"Porsche 911, grey",12.0,68593.9800,2018-07-29,Michael Tucker,139.591.1678x8457,15,NaN
903,"Porsche 911, red",12.0,77940.1875,2022-10-18,Tonya Rivera,328-325-5524,0,NaN
915,"Porsche 911, green",12.0,54345.5640,2015-03-13,Lori Booth,591-205-3448x97977,9,NaN
930,"Porsche 911, purple",12.0,53674.0500,2016-04-23,Brent Johnson,470-862-1523x4889,0,NaN

In [7]:
df[df['auto'].str.contains("Porsche")]

,auto,gasoline_consumption,price,date,person_name,phone,discount,brand_origin
id,,,,,,,,
16,"Porsche 911, green",12.0,50619.6000,2020-10-09,Anthony Brown,483.824.9640,0,NaN
20,"Porsche 911, blue",12.0,66751.6500,2021-09-17,Wayne Miller,0787813258,0,NaN
49,"Porsche 911, yellow",12.0,63965.8750,2016-02-08,Thomas Parker,802-904-6081,0,NaN
64,"Porsche 911, pink",12.0,29705.4000,2015-10-17,Jamie Smith,0377351461,0,NaN
143,"Porsche 911, pink",12.0,33583.1400,2020-01-16,Tara Davis,005.580.5827,0,NaN
182,"Porsche 911, green",12.0,72816.9000,2019-06-15,Debra Mcmahon,+1-290-976-5892x58091,0,NaN
200,"Porsche 911, blue",12.0,73944.0000,2018-10-31,Thomas West,001-615-442-1692x4833,0,NaN
222,"Porsche 911, purple",12.0,58553.1000,2020-02-29,Benjamin Ballard,227.646.1834x05871,0,NaN
255,"Porsche 911, blue",12.0,52936.2000,2020-02-12,Richard Sharp,420.989.3490x601,0,NaN
256,"Porsche 911, grey",12.0,66965.4720,2021-10-21,Amanda Hatfield,(795)189-6665x4226,4,NaN
269,"Porsche 911, green",12.0,67813.0425,2021-09-09,Alicia Mejia,0903720006,7,NaN
274,"Porsche 911, purple",12.0,67317.6000,2018-11-13,Paul Townsend,(117)468-7280,0,NaN
284,"Porsche 911, red",12.0,64037.2500,2015-10-14,Melanie Neal,525.065.6744,0,NaN
337,"Porsche 911, purple",12.0,61963.6500,2021-05-18,Jessica Jacobs,730.996.7208x069,0,NaN
340,"Porsche 911, orange",12.0,52180.4400,2017-06-18,Brian Brown,(050)559-0230x4412,17,NaN
351,"Porsche 911, yellow",12.0,92512.0950,2019-09-14,Adam Nicholson,(422)564-8666x2419,0,NaN
353,"Porsche 911, purple",12.0,58753.4800,2017-10-21,Katie Clements,9038775262,14,NaN
369,"Porsche 911, pink",12.0,36197.2800,2016-06-23,Ryan Henderson,012.766.0586x939,0,NaN
370,"Porsche 911, orange",12.0,71855.7000,2021-03-02,Richard Williams,3131137386,0,NaN
397,"Porsche 911, grey",12.0,75597.6000,2019-11-23,Anthony Richardson,455-329-9442x59414,0,NaN
419,"Porsche 911, yellow",12.0,78290.1600,2018-04-09,Jason Hawkins,2970540924,0,NaN
447,"Porsche 911, pink",12.0,37597.1400,2022-02-23,Robert Sanchez,(161)638-5551x804,0,NaN
449,"Porsche 911, red",12.0,69466.2500,2017-08-01,Katrina Brown,277-848-7289x3839,0,NaN
461,"Porsche 911, purple",12.0,57735.0000,2020-01-07,Lisa Stewart,001-280-784-3575x7002,0,NaN
471,"Porsche 911, pink",12.0,27263.1420,2015-07-13,Kristin Carter,001-894-137-0332x473,19,NaN
472,"Porsche 911, blue",12.0,50314.7645,2016-05-14,Todd Ruiz,9399727477,9,NaN
485,"Porsche 911, yellow",12.0,85898.1000,2018-09-21,Monica Medina,(787)237-7387x125,0,NaN
491,"Porsche 911, yellow",12.0,60838.3350,2020-10-16,Kevin Jones,(849)497-5061x4739,0,NaN
513,"Porsche 911, purple",12.0,77127.7000,2019-07-22,Caitlin Cook,001-067-272-6613x007,0,NaN
525,"Porsche 911, yellow",12.0,89224.5900,2019-01-31,Ralph Smith,(889)179-6676,0,NaN
559,"Porsche 911, yellow",12.0,79493.5200,2018-05-02,Shane Hawkins,472-372-0131,0,NaN
567,"Porsche 911, yellow",12.0,75181.3650,2021-06-24,Pamela Glass,(817)298-1518x194,0,NaN
572,"Porsche 911, grey",12.0,44602.4880,2015-10-14,Sabrina Heath,001-422-406-8886,16,NaN
595,"Porsche 911, yellow",12.0,59152.3200,2015-03-30,Robin Wallace,5243117794,0,NaN
600,"Porsche 911, red",12.0,73170.5625,2022-08-24,Samantha Silva,299.673.6245x22006,0,NaN
619,"Porsche 911, pink",12.0,36264.7800,2015-10-07,Timothy Parker,658-127-2895x1590,0,NaN
624,"Porsche 911, green",12.0,72691.2000,2018-07-01,Terry Fry,984.668.7124,0,NaN
630,"Porsche 911, grey",12.0,68387.5500,2022-01-26,Katherine Robinson,+1-936-891-1910x145,0,NaN
640,"Porsche 911, orange",12.0,52116.3000,2020-04-25,Jaclyn Reynolds,402.680.4529x13302,0,NaN
650,"Porsche 911, pink",12.0,34081.5600,2015-11-20,Brian Simpson,960.277.8678,0,NaN
680,"Porsche 911, pink",12.0,40985.2548,2022-02-16,Ruth Esparza,650-663-5928x56124,3,NaN
703,"Porsche 911, red",12.0,76334.8750,2016-01-06,David Kelley,001-045-178-2118x68729,0,NaN
729,"Porsche 911, grey",12.0,65782.7500,2016-02-19,Steven Owens,551-662-6377,0,NaN
768,"Porsche 911, orange",12.0,78031.2000,2019-04-10,Nicole Floyd,+1-175-623-2150x82440,0,NaN
771,"Porsche 911, orange",12.0,61757.1000,2015-04-15,Paula Williams,115.396.2818x5301,0,NaN
830,"Porsche 911, yellow",12.0,66527.7300,2015-10-08,Jose Bradley,917.362.7663x8417,0,NaN
836,"Porsche 911, orange",12.0,61298.0000,2017-01-23,Stacey Hall,+1-031-516-3809x79062,0,NaN
847,"Porsche 911, yellow",12.0,67792.6725,2022-03-17,Laura Gonzales,+1-157-773-3597,0,NaN
886,"Porsche 911, orange",12.0,48248.7300,2020-02-19,Mrs. Joyce Fisher DDS,(606)304-4298x231,17,NaN
892,"Porsche 911, grey",12.0,68593.9800,2018-07-29,Michael Tucker,139.591.1678x8457,15,NaN
903,"Porsche 911, red",12.0,77940.1875,2022-10-18,Tonya Rivera,328-325-5524,0,NaN
915,"Porsche 911, green",12.0,54345.5640,2015-03-13,Lori Booth,591-205-3448x97977,9,NaN
930,"Porsche 911, purple",12.0,53674.0500,2016-04-23,Brent Johnson,470-862-1523x4889,0,NaN

In [71]:
df[~df['brand_origin'].isna()]['brand_origin'].apply(lambda x: len(x)).max()

11

In [92]:
df['brand_origin'].value_counts()

brand_origin
Germany        332
South Korea    231
USA            222
Russia         162
Name: count, dtype: int64

In [74]:
df['auto'].apply(lambda x: x.split(' ')[0]).value_counts()

auto
Tesla      222
Audi       180
Lada       162
BMW        152
Hyundai    132
Kia         99
Porsche     53
Name: count, dtype: int64

In [75]:
df['person_name'].apply(lambda x: len(x.split(' '))).value_counts()

person_name
2    961
3     34
4      5
Name: count, dtype: int64

In [78]:
df['person_name'][df['person_name'].apply(lambda x: len(x.split(' '))) != 2]

id
28                Corey Moran Jr.
45           Mrs. Chelsea Bradley
74           Miss Rebecca Andrews
109          Edward Richardson II
181         Mrs. Gloria Zimmerman
190                Ashley Hood MD
308            Dr. Maria Gross MD
329             Derrick Leach Jr.
356               Mrs. Mary Adams
367              Christy Haas DVM
403             Steven Gentry Jr.
413        Jennifer Mccullough MD
421              Dr. Brian Duncan
427    Mrs. Heather Hutchinson MD
444           Dr. Craig Henderson
459                 Shawn Cole MD
473           Mr. Joseph Mitchell
483             Mrs. Renee Brooks
509              Mrs. Haley Mccoy
578          Mrs. Andrea King DVM
615               Justin Case Jr.
617           Dr. Christine Knapp
639          Mrs. Brittney Hunter
666           Mr. Connor Thompson
694               Angel Walker MD
727              Susan Garner DVM
728             Mrs. Kristin Soto
739              Sandra Davis DDS
755             Mr. Joseph Powers
781                Erica Oneal MD
792             April Martinez MD
814         Valerie Maldonado DVM
827            Linda Mcfarland MD
861          Mrs. Ashley Mccarthy
862          Mr. Edward Brown Jr.
886         Mrs. Joyce Fisher DDS
922               Corey Moran Jr.
939          Mrs. Chelsea Bradley
968          Miss Rebecca Andrews
Name: person_name, dtype: object